
<div class="container">
    <input type="checkbox" id="check">
    <div class="login form" id="login">
      <header>Login</header>
      <form action="/api/session/login" method="POST">
        <input type="text" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Password">
        <a href="#">Olvidaste tu contraseña?</a>
        <button type="submit" class="button" value="Login">login</button>
      </form>
      <div class="signup">
        <span class="signup">No tienes una cuenta?
         <label for="check"><a href="/register">Signup</a></label>
        </span>
      </div>
    </div>
</div>

<script>
        document.getElementById('login').addEventListener('submit', function (event) {
            event.preventDefault();

            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            fetch('/api/session/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ email, password }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    
                    window.location.href = '/products';

                    
                    fetch('/api/session/current', {
                        method: 'GET',
                        credentials: 'include',
                    })
                    .then(response => response.json())
                    .then(userData => {
                        console.log('Información del usuario actual:', userData);
                    })
                    .catch(error => console.error('Error al obtener la información del usuario actual:', error));
                } else {
                    console.error('Error:', data.error);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    </script>