<section>
    <h1>Productos real-time</h1>
<div class="page-container">
  <div>
    <h2>Eliminar producto por ID</h2>
    <form id="deleteProductForm">
      <label for="productId">ID del Producto:</label>
      <input type="text" id="productId" name="productId" required>
      <button type="button" onclick="deleteProduct()">Eliminar Producto</button>
    </form>
  </div>
  <div>
    <h2>Agregar un producto</h2>
    <form id="createProductForm">
      <label for="title">Nombre del Producto:</label>
      <input type="text" id="title" name="title" required><br>

      <label for="description">Descripcion:</label>
      <input type="text" id="description" name="description" required><br>

      <label for="code">Codigo:</label>
      <input type="text" id="code" name="code" required><br>

      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" required><br>

      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" required><br>

      <label for="thumbnail">Imagenes ("/images/laptop1.webp" para testear):</label>
      <input type="text" id="thumbnail" name="thumbnail"><br>

      <button type="button" onclick="addProduct()">Agregar Producto</button>
    </form>
  </div>
  <div>
    <h2>Lista de Productos en tiempo real</h2>
    <div class="products">

    </div>
  </div>
</div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>