<div class="container">
<div class="login form">
      <header>Signup</header>
      <form action="/api/session/register" method="POST">
        <input type="text" id="first_name" name="first_name" placeholder="Nombre">
        <input type="text" id="last_name" name="last_name" placeholder="Apellido">
        <input type="text" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="number" id="age" name="age" placeholder="Age">
        <input type="text" id="role" name="role" placeholder="Role">
        <button type="submit" class="button" value="Signup">Signup</button>
      </form>
      <div class="signup">
        <span class="signup">Ya tienes una cuenta?
         <label for="check"><a href="/login">Login</a></label>
        </span>
      </div>
  </div>
</div>

<script>
document.getElementById('login').addEventListener('submit', function (event) {
    event.preventDefault();

    const first_name = document.getElementById('first_name').value;
    const last_name = document.getElementById('last_name').value;
    const age = document.getElementById('age').value;
    const email = document.getElementById('email').value;
    const password = document.getElementById('password').value;
    const confirmPassword = document.getElementById('confirmPassword').value;
    const role = document.querySelector('input[name="role"]:checked').value;

    //Realiza la solicitud de registro al servidor
    fetch('/api/session/register', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ first_name, last_name, age, email, password, confirmPassword, role }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {

            window.location.href = data.redirectUrl;
        } else {
            console.error('Error:', data.error);
        }
    })
    .catch(error => console.error('Error:', error));
});
</script>