<div class="container">
<div class="login form">
      <header>Signup</header>
      <form action="/api/session/register" method="POST">
        <input type="text" id="first_name" name="first_name" placeholder="Nombre">
        <input type="text" id="last_name" name="last_name" placeholder="Apellido">
        <input type="text" id="email" name="email" placeholder="Email">
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="number" id="age" name="age" placeholder="Age">
        <input type="text" id="role" name="role" placeholder="Role">
        <button type="submit" class="button" value="Signup">Signup</button>
      </form>
      <div class="signup">
        <span class="signup">Ya tienes una cuenta?
         <label for="check"><a href="/login">Login</a></label>
        </span>
      </div>
  </div>
</div>